.img-slide {
    height: 631px;
    object-fit: cover;
}
.carousel-item{
    position: relative;
}
.carousel-indicators button.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: auto 8px ;
}
.img-slideshow::before{
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 631px;
    z-index: 2;
}
.text-top {
    letter-spacing: 5px;
    font-size: 1em;
    font-family: 'Barlow Condensed', serif;
}

.carousel-caption {
    font-weight: 500;
    top: 25%;
    bottom: 75%;
    z-index: 3;
}

.text-bot {
    font-family: 'Gilda Display', serif;
    font-size: 3.5em;
    letter-spacing: 15px;

}

.fa-star {
    color: #ab854f;
    font-size: 0.8em;
    letter-spacing: 5px;
}

.btn-mid {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 12px 20px;
    margin: 30px 0;
    position: relative;
}
.btn-mid::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    background-color: #fff;
    width: 0;
    z-index: 1;
    transition:ease .25s;
}
.btn-mid:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}
.btn-mid-text {
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    font-family: 'Barlow Condensed', serif;
    letter-spacing: 3px;
    font-weight: 500;
}



.btn-mid:hover .btn-mid-text {
    color: #000;
}

.call {
    position: absolute;
    display: block;
    z-index: 2;
    left: -1%;
    top: 38%;
    font-family: 'Barlow Condensed', serif;
    transform: rotate(-90deg);
    font-weight: 400;
}

.call-text {
    color: #fff;
    letter-spacing: 5px;
    font-size: 12px;
}

.call-number {
    text-decoration: none;
    color: #aa8453;
    font-family: 'Gilda Display', serif;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.icon-call {
    position: absolute;
    display: block;
    z-index: 8;
    left: 3%;
    top: 57%;
    color: #fff;
    font-size: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

}

.icon-call:hover {
    border-color: #aa8453;
}

.fa-phone-volume {
    text-align: center;
    padding: 15px;
}

.carousel-control-prev {
    border: 1.5px solid #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    left: 81%;
    bottom: 5%;
}

.carousel-control-next {
    border: 1.5px solid #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    right: 13%;
    bottom: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 10px;
    color: #fff;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    border-color: #aa8453;
    height: 30px;
    width: 30px;
}
.btn-slide{
    position: absolute;
    bottom: 3%;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 1500px;
}